openapi: 3.2.0
info:
  title: Smol Machines Health API
  version: '1.0'
  description: 'Operations tagged health across 2 of this provider''s published API definitions: smol-machines-smolfleet-openapi.json, smol-machines-smolvm-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.smolmachines.com
  description: Hosted smolfleet
tags:
- name: Health
  description: Health, probes, and metrics
paths:
  /health:
    get:
      tags:
      - Health
      operationId: health_check
      responses:
        '200':
          description: Cluster health
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterHealth'
      summary: Health check
      x-summary-source: derived
    servers:
    - url: https://api.smolmachines.com
      description: Hosted smolfleet
  /livez:
    get:
      tags:
      - Health
      operationId: livez
      responses:
        '200':
          description: Process is alive
      summary: Livez
      x-summary-source: derived
    servers:
    - url: https://api.smolmachines.com
      description: Hosted smolfleet
  /metrics:
    get:
      tags:
      - Health
      operationId: metrics
      responses:
        '200':
          description: Prometheus metrics (text)
      summary: Metrics
      x-summary-source: derived
    servers:
    - url: https://api.smolmachines.com
      description: Hosted smolfleet
  /readyz:
    get:
      tags:
      - Health
      operationId: readyz
      responses:
        '200':
          description: Ready to serve
        '503':
          description: State backend unreachable
      summary: Readyz
      x-summary-source: derived
    servers:
    - url: https://api.smolmachines.com
      description: Hosted smolfleet
components:
  schemas:
    ClusterHealth:
      type: object
      required:
      - clusterId
      - version
      - nodesTotal
      - nodesReady
      - appsTotal
      - poolsTotal
      - uptimeSecs
      properties:
        appsTotal:
          type: integer
          format: int32
          minimum: 0
        clusterId:
          type: string
        nodesReady:
          type: integer
          format: int32
          minimum: 0
        nodesTotal:
          type: integer
          format: int32
          minimum: 0
        poolsTotal:
          type: integer
          format: int32
          minimum: 0
        uptimeSecs:
          type: integer
          format: int64
          minimum: 0
        version:
          type: string
    HealthResponse:
      type: object
      description: Health check response.
      required:
      - status
      - version
      properties:
        status:
          type: string
          description: Health status (e.g., "ok").
          example: ok
        version:
          type: string
          description: Server version.
          example: 0.1.6
x-refined-from:
- smol-machines-smolfleet-openapi.json
- smol-machines-smolvm-openapi.json
